<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content>
    <meta name="author" content>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--Google fonts-->
    <title>Leticia's | A Restaurant in Dublin</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />        
</head>
<body>
    <nav>
        <div class="logo-container">
            <a href="{% url 'home:home' %}">
                <img src="{% static 'images/restaurant_logo.jpeg' %}" alt="Restaurant Logo" id="logo">
            </a>
        </div>
        <ul class="sidebar">
            <li onclick=removeSidebar()><a><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'ourrestaurant:ourrestaurant_list' %}">Our Story</a></li>
            <li><a href="{% url 'menu' %}">Menu</a></li>
            <li><a href="{% url 'reserve:book_table' %}">Reservation</a></li>
            <li><a href="{% url 'contact:contact_us' %}">Contact Us</a></li>
        </ul>
        <ul>
            <li class="hideNavbarOnMobile"><a href="{% url 'ourrestaurant:ourrestaurant_list' %}">Our Story</a></li>
            <li class="hideNavbarOnMobile"><a href="{% url 'menu' %}">Menu</a></li>
            <li class="hideNavbarOnMobile"><a href="{% url 'reserve:book_table' %}">Reservation</a></li>
            <li class="hideNavbarOnMobile"><a href="{% url 'contact:contact_us' %}">Contact Us</a></li>
            <li class="menu-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>
    <section>
        <div class="owl-carousel owl-theme">
            <div class="item"><img src="media/menu/shutterstock_658689871_prawns_starter.jpg" alt="Prawns"></div>
            <div class="item"><img src="media/carousel/shutterstock_2161690099_chefLucas.jpg" alt="Chef Lucas"></div>
            <div class="item"><img src="media/menu/shutterstock_1687484914_moqueca.jpg" alt="Moqueca"></div>
            <div class="item"><img src="media/menu/shutterstock_2112290168_jambon.jpg" alt="Cured ham"></div>
            <div class="item"><img src="media/carousel/pixabay_chef_happy.jpg" alt="Happy Chef"></div>
            <div class="item"><img src="media/menu/shutterstock_2254385815_steak.jpg" alt="Chargrilled Steak"></div>
        </div>
    </section>
    <section>
        <div>
            <h2 id="tagline">Welcome to Leticia's</h2>
        </div>
        <section id="restaurant-ethos">
            <div>
            <h3 id="welcome">Why visit us?</h3>
            </div>
            <br>
            <div id="left-about">
                <div class="left-about-heading">
                    <h2>Relax</h2><i class=""></i>
                    <p>Feel at home with our traditional recipes.
                    </p>
                </div>
                <div class="left-about-heading">
                    <h2>Meet New Friends</h2><i class=""></i>
                    <p>Connect to your community in Dublin city.</p>
                </div>
            </div>
            <div id="right-about">
                <div class="right-about-heading">
                    <h2>Try</h2><i class=""></i>
                    <p>Whether you wish to try the Feijoada of Rio de Janeiro or the seafood of Galicia, we have new food for you to enjoy.</p>
                </div>
                <div class="right-about-heading">
                    <h2>Party</h2><i class=""></i>
                    <p>Celebrate the good times with friends and family.</p>
                </div>
            </div>
            <div id="center-about">
                <div id="center-cover-bg"><img src="media/menu/shutterstock_658689871_prawns_starter.jpg" alt="Prawns"></div>
            </div>
    </section>
    <br>
    <section class="contact-details">
        <div>
            <h2 id="find-us">Find Us</h2>
            <h4>Email: hello@leticias.ie</h3>
            <br>
            <h4>Opening Hours: 12noon till 11pm every day of the week</h3>
            <br>
            <h4>Address: <a href="https://goo.gl/maps/TpuzYiBZyHLEh7436" target="_blank" rel="noopener" aria-label="find our address (opens in a new tab)">Leticia's, 99 Drury Street, Dublin 2</a></h3>
            <br>
            <h4>Phone Number: +353 1 234 5678</h3>    
        </div>   
    </section>
    <section>
        <ul class="social-networks">
            <li>
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="http://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our Youtube page (opens in a new tab)"><i class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </section>
    <!-- Script tags for Owl Carousel-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--Javascript file-->
    <script src="{% static 'js/script.js' %}"></script>
    <!--Font Awesome Script Tags-->
    <script src="https://kit.fontawesome.com/d8d846aa60.js" crossorigin="anonymous"></script>
</body>
</html>