<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>hello there</h2>

    <section>
        <ul class="social-networks">
            <li>
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="http://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our Youtube page (opens in a new tab)"><i class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </section>

    <!--Javascript file-->
    <script src="{% static 'js/script.js' %}"></script>
    <!--Font Awesome Script Tags-->
    <script src="https://kit.fontawesome.com/d8d846aa60.js" crossorigin="anonymous"></script>
</body>