<!DOCTYPE html>
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--Google fonts-->
    <title>Leticia's | A Restaurant in Dublin</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />        
</head>
<body>
    <h1>Leticia's Restaurant</h1>
    <section>
        <div class="owl-carousel owl-theme">
            <div class="item"><img src="media/menu/shutterstock_658689871_prawns_starter.jpg" alt="Prawns"></div>
                <div class="item"><img src="media/carousel/shutterstock_2161690099_chefLucas.jpg" alt="Chef Lucas"></div>
                <div class="item"><img src="media/menu/shutterstock_1687484914_moqueca.jpg" alt="Moqueca"></div>
                <div class="item"><img src="media/menu/shutterstock_2112290168_jambon.jpg" alt="Cured ham"></div>
                <div class="item"><img src="media/carousel/pixabay_chef_happy.jpg" alt="Happy Chef"></div>
                <div class="item"><img src="media/menu/shutterstock_2254385815_steak.jpg" alt="Chargrilled Steak"></div>
        </div>
    </section>
    <section>
        <ul class="social-networks">
            <li>
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="http://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our Youtube page (opens in a new tab)"><i class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </section>

    <!-- Script tags for Owl Carousel-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--Javascript file-->
    <script src="{% static 'js/script.js' %}"></script>
    <!--Font Awesome Script Tags-->
    <script src="https://kit.fontawesome.com/d8d846aa60.js" crossorigin="anonymous"></script>
</body>