/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');

/* Theme settings for website */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #FCEDDA;
    color: #EE4E34;
    font-family: 'Kanit', sans-serif;
}

/* Navigation Bar */

nav {
    background-color: #296D23;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    color:#FCEDDA;
    font-size: 150%;
    text-decoration: none;
}

nav a:hover {
    background-color: #EE4E34;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #296D23;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

/* Navigation bar logo */

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#logo {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

/* Responsive Design for Navigation Bar */

@media(max-width: 900px)  {
    nav a {
        padding: 2px 5px;
    }

    #logo {
    height: 150px;
    }
}

@media(max-width: 800px) {
    .hideNavbarOnMobile {
    display: none;
    }

    .menu-button {
    display: block;
    }
}

@media(max-width: 650px){
    #logo {
    margin-left: 40px;
    }
    }

@media(max-width: 450px) {
    .sidebar {
    width: 40%;
    }
    }

@media(max-width: 300px) {
    #logo {
            margin-left: 20px;
        }
    }

/* Image Carousel */

.owl-carousel .item {
    height: 270px;
}

.owl-carousel .item img {
    height: 100%;
    object-fit: cover;
}

/* Our Story */

.founder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founder-header {
    text-align: center;
}

.founder-content {
    text-align: start;
    max-width: 700px;
    margin: 0 auto;
}

.founder-content img {
    border-radius: 10px;
    max-width: 100%;
    margin-top: 20px;
}

.chefs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chef-header {
    text-align: center;
}

.chef-content {
    text-align: start;
    max-width: 700px;
    margin: 0 auto;
}

.chef-content img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 334px;
    width: auto;
    height: auto;
    margin-top: 20px;
}

/* Menu Section */

.menu-header {
    text-align: center;
    width: 100%;
}

.single-menu {
    display: flex;
}

.menu-section {
    width: 100%;
}

.menu-content {
    margin: 30px 0px 30px 50px;
}

.menu-image {
    margin-left: 50px;
    justify-content: center;
    align-items: center;
}

.single-menu img {
        border-radius: 10%;
        max-width: 400px;
        padding: 5px;
    }

.single-menu:hover img {
        transition: 0.8s;
        transform: scale(1.2);
    }

/* Responsive design for Menu on tablet and mobile phone devices */

@media(max-width: 991px) {  
    .single-menu {
        flex-direction: column;
    }

    .single-menu img {
        max-width: 300px;
    }
}

/* Reserve Form page */

.reserve-header {
    text-align: center;
    width: 100%;
    color: #e60026
}

.reserve-form {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        color:#f7f7f7;
        background-color: #e60026;
        border-radius: 4px;
}

.reserve-form-name,
.reserve-form-email,
.reserve-form-requests,
.reserve-form-guests,
.reserve-form-date-and-time {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0000;
    border-radius: 4px;
}

.reserve-form-button {
    background-color: white;
    color: #e60026;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
}

.reserve-form-button:hover {
    background-color: #296D23;
    color: #f7f7f7;
}

@media(max-width: 600px) {
    .reserve-form {
        width: 100%;
        margin: 10px;
    }
}

/* Contact Us page */

.contact-header {
    text-align: center;
    width: 100%;
}

.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    color:#f7f7f7;
    background-color: #EE4E34;
    border-radius: 4px;

}

.contact-form-name,
.contact-form-subject,
.contact-form-email,
.contact-form-message {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0000;
    border-radius: 4px;
}

.contact-form-button {
    background-color: white;
    color: #EE4E34;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
}

.contact-form-button:hover {
    background-color: #296D23;
    color: #f7f7f7;
}

@media(max-width: 600px) {
    .contact-form {
        width: 100%;
        margin: 10px;
    }
}

/* Scroll to the top of the Menu page button */

.scrollUp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 5px 5px;
    background-color: #296D23;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.scrollUp:hover {
    background-color: #f7f7f7;
    color: #296D23;
}

/* Social Media Links */

.social-networks {
    text-align: center;
    }

.social-networks > li {
    display: inline;
    }

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #EE4E34;
    }

/* Social Media links on Reserve page */

.reserve-socials {
    text-align: center;
    }

.reserve-socials > li {
    display: inline;
    }

.reserve-socials i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #e60026;
    }

/* Home page - restaurant ethos home page */

#center-cover-bg {
    max-width: 100%;
    height: 400px;
    }

#tagline {
    clear: both;
    text-align: center;
    font-size: 240%;
    color: #e60026;
}

#restaurant-ethos {
    height: 400px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: #FCEDDA;
}

#center-about img {
    max-width: 400px;
    height: auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 160%;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

@media screen and (max-width: 1200px) {
    #restaurant-ethos {
        width: 65%;
        height: 900px;
        margin: 0 auto;
    }

    #welcome {
        font-size: 160%;
        text-align: center;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }
}

@media screen and (max-width: 950px) {

    #restaurant-ethos {
            width: 90%;
            height: 800px;
            margin: 0 auto;
        }
        
    .left-about-heading, .right-about-heading {
            width: inherit;
        }
        
    .left-about-heading h2, .right-about-heading h2 {
            width: 100%;
            text-align: center;
        }
        
    .left-about-heading p, .right-about-heading p {
            text-align: center;
            padding: 0 20px;
        }
}

/* Find Us (Contact Details section)

/*contact details*/

#find-us
{
    font-size: 160%;
    text-align: center;
    margin: 20px 0;
 }

.contact-details {
    margin-left: 30px;
}
