/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap');

/* Theme settings for website */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #FCEDDA;
    color: #EE4E34;
    font-family: 'Kanit', sans-serif;
}

/* Image Carousel */

.owl-carousel .item {
    height: 270px;
}

.owl-carousel .item img {
    height: 100%;
    object-fit: cover;
}

/* Menu Section */

.menus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-section {
    width: 32%;
}

.single-menu img {
        border-radius: 10%;
        max-width: 160px;
        padding: 5px;
        margin-right: 10px;
    }

.single-menu:hover img {
        transition: 0.8s;
        transform: scale(1.2);
    }


@media(max-width: 991px) {  
        .single-menu {
            flex-direction: column;
        }

        .single-menu img {
        max-width: 100px;
        }
    }

/* Social Media Links */

.social-networks {
    text-align: center;
    }

.social-networks > li {
    display: inline;
    }

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
    color: #EE4E34;
    }

