{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Menu</h1>
<div class="menus">
    <div class="menu-section">
        <h4>Our Menu</h4>
        {% for meal in menu_list %}
        <div class="single-menu">
            <img src="{{ meal.picture.url }}" alt="{{ meal.name}}">
            <div class="menu-content">
                <h5>{{ meal.name }}<span> €{{ meal.price }}</span></h5>
                <p>{{ meal.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
