<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content>
    <meta name="author" content>
    <title>Leticia's | A Restaurant in Dublin</title>
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<div class="success">
    <div class="success-message">
        <h1>Your message has been sent!</h1>
        <p>One of our team will be in touch shortly.</p>
        <p>Click on our logo above to return to the home page.</p>
        <img src="{% static 'images/brazilchef-whitehat.jpg' %}" alt="Hard working chef" id="success-picture">
    </div>
</div>
<div>
    <section>
        <ul class="social-networks">
            <li>
                <a href="https://www.facebook.com" target="_blank" rel="noopener" aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-square-facebook"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="http://www.youtube.com/" target="_blank" rel="noopener" aria-label="Visit our Youtube page (opens in a new tab)"><i class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </section>
    </div>
    <!--Javascript file-->
    <script src="{% static 'js/script.js' %}"></script>
    <!--Font Awesome Script Tags-->
    <script src="https://kit.fontawesome.com/d8d846aa60.js" crossorigin="anonymous"></script>
</body>
</html>
